/*  General Map Layout */
.map-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
}

.map-container {
  width: 100%;
  height: 100%;
}

/* Marker Icon */
.qr-marker {
  transition: transform 0.3s ease;
}
.qr-marker:hover {
  transform: scale(1.1);
}

/* --- Fullscreen Popup --- */

.popup-scanner-style {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
}

/* Popup Content Wrapper */
.popup-content-wrapper {
  background: #000; 
  padding: 20px;
  border-radius: 15px;
  max-width: 400px; 
  width: 100%;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.popup-content-wrapper hr {
  width: 100%; 
  border: none; 
  border-top: 1px solid #fff; 
  margin: 10px 0;
  display: block; 
}

/* Image Container */
.popup-image-container {
  width: 100%;
  height: 200px; 
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 10px;
  border: 2px solid #fff;
}

/* Title */
.popup-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
}

/* Points */
.popup-points {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fbf6f6;
}

/* Description */
.popup-description {
  font-size: 16px;
  margin-bottom: 15px;
  word-wrap: break-word; 
}

/* Divider */
.popup-content-wrapper hr {
  border: 0.5px solid #fff;
  margin: 10px 0;
}

/* Button Container */
.popup-btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Close/View Button */
.popup-close-btn {
  background: #f9f9f9;
  color: #0a0909;
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.popup-close-btn:hover {
  background: #ff5555;
}

/* Responsive - Mobile */
@media (max-width: 480px) {
  .popup-content-wrapper {
    max-width: 90%;
    padding: 15px;
  }
  .popup-image-container {
    height: 150px;
  }
  .popup-title {
    font-size: 18px;
  }
  .popup-points {
    font-size: 16px;
  }
  .popup-description {
    font-size: 14px;
  }
  .popup-close-btn {
    padding: 8px 20px;
    font-size: 14px;
  }
}




/* Double Popup */
/* .double-popup {
  text-align: center;
  font-family: Arial, sans-serif;
}

.double-popup-image,
.double-popup-video {
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.double-popup-audio {
  width: 200px;
  margin-bottom: 10px;
} */
